.card{
    padding-left:25%;
}

.table-container {
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #bcbcbc, -10px -10px 20px #ffffff;
    padding: 20px;
    width: 800px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    text-align:center;
  }
  
  .table th {
    background-color: #00a896;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
  }
  
  .table td {
    background-color: #f3f3f3;
    color: #333333;
    padding: 10px;
  }

  .table tr:nth-child(even) td {
    background-color: #d0e6e3;
  }

  .table tr:hover td {
    background-color: #04b9a7;
    color: #ffffff;
  }


.title {
  margin-bottom: 1rem;
  color: #333333;
}

.image {
  width: 800px;
  height: 550px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

button {
    background-color: #45dd96;
    border: none;
    color: #fff;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #03332f;
  }
  